  /* =========== LINK =========== */
  /* =========== HEADER-Shrink =========== */
  /* =========== SCROLL-Smooth =========== */
  /* =========== SCROLLBAR-Customize =========== */
  /* =========== SCROLL-ToTop-Button =========== */
  /* =========== SCROLLBAR-Indicator =========== */
  /* =========== SLIDESHOW =========== */
  /* =========== PAGINATION =========== */
  /* =========== BULLIT-Color =========== */
  /* =========== TEXT-Input =========== */
  /* =========== TEXT-Selection-Colors =========== */
  /* =========== TEXT-Selection-Prevent =========== */
  /* =========== BUTTON-hoover =========== */
  /* =========== SNACKBAR =========== */
:root {
     /* Font */
     --font-size: 18px;
     --font-size-360: 12px;
     /* PosY */
     --el-header-top: 0px;
     --el-logo-top: 12px;
     --el-chapter-top: 60px;
     --el-iframe-top: 84px;    
     --el-menu-top: 87px;
     --el-footer-bottom: 0px;
     --el-footer-credit-padding-top: 6px;
     /* height */
     --el-header-height: 60px;
     --el-chapter-height: 24px;
     --el-iframe-height: 840px;
     --el-menu-height: 838px;
     --el-footer-height: 24px;
     --el-scroll-width: 8px;
     /*--el-menu-height: 0px;*/
     --el-scroll-indicator-height: 2px;
     
     /* Radius */
     --border-radius: 16px;
     
     /* Colors */
     --color-design-purpose: #FF0000;
     --color-chroma-key-blue: #0033cc;     /*  blue-key: #0047bb ,websafe: #0033cc */
     --color-chroma-key-green: #009933;    /* green-key: #00b140 ,websafe: #009933 */    
     --color-ui-background: #1C1C1C;
     --color-system-background: #111111;
     --color-text: #fbf0ec;  
     --color-text-ui: #DBE1D5;
     --color-text-ui-hover: rgba(0, 128, 0, 0.5);
     --color-text-shadow1: #000000;
     --color-text-shadow2: #38fa08;
     --color-text-shadow3: #001400;
     --color-slider-handle: #686868;
     --color-slider-handle-hover: #7B7B7B;
     --color-slider-track: #343434;
     --color-logo: #fbf0ec;
     --color-credit: #c58f51;
     --color-box-shadow: #01009a;    /*#6e8b68*/
     --color-border: #343434;
     --color-mouse-over: #DAA520;
     --color-design-seperator:rgba(255, 255, 255, 0.12);
 }
html {
  scroll-behavior: smooth;
  overflow: auto;
  cursor: url(/images/select-right.cur),auto;
}

body {
  position: absolute;
  background-color: var(--color-system-background);
  color: var(--color-text-ui);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  /*margin: 0px auto 0px 200px;*/
  /*padding: 40px 160px 0px 0px;*/
  overflow-y: show;           /* Hide vertical scrollbar */
  overflow-x: hidden;         /* Hide horizontal scrollbar */
  transition: background-color .5s;
  /*width: 100%;*/
  cursor: default;
}

#content {
  padding: 0px 0px;
  margin: 40px 0px 0px 36px;
  width: 50%;
}
p {
  color: var(--color-text);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* =========== LINK =========== */
/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
  cursor: url(/images/select-right.cur),auto;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
  cursor: url(/images/select-right.cur),auto;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
  cursor: url(/images/select-right.cur),auto;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: underline;
  cursor: url(/images/select-right.cur),auto;
}


/* =========== HEADER-Shrink =========== */
#header {
  background-color: var(--color-ui-background);
  padding: 4px 0px;
  color: var(--color-text);
  text-align: center;
  font-size: 28px; 
  font-weight: bold;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: 0.3s;
  cursor: default;
}

/* =========== SCROLL-Smooth =========== */
#scroll-smooth-to-1 {
  background-color: var(--color-system-background);
}
#scroll-smooth-to-2 {
  height: 600px;
  background-color: var(--color-system-background);
  width: 100%;
}

/* =========== SCROLLBAR-Customize =========== */
/* SCROLLBAR - width */
::-webkit-scrollbar {
  width: var(--el-scroll-width);
}
/* SCROLLBAR - button */
/*::-webkit-scrollbar-button {
  background: #FF00FF;
  height: 22px;
}
*/
/* SCROLLBAR - track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* SCROLLBAR - track - piece */
::-webkit-scrollbar-track-piece {
  background: var(--color-slider-track);
}
/* SCROLLBAR - handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-slider-handle); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* SCROLLBAR - handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-slider-handle-hover); 
}
/* SCROLLBAR - thumb */
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* SCROLLBAR - corner */
/*
::-webkit-scrollbar-corner {
  background: #FF0000;
}*/

/* =========== SCROLL-ToTop-Button =========== */
#scroll-ToTop-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 2em;
  border: 1px;
  border-radius: 200px;
  outline: none;
  background-color: var(--color-ui-background);
  color: var(--color-text-ui-hover);
  cursor: url(/images/select-right.cur),auto;
  padding: 0px 8px;
}

#scroll-ToTop-button:hover {
  background-color: #555;
}

/* =========== SCROLLBAR-Indicator =========== */
#scroll-indicator-container {
  position: fixed;
  top: 1px;
  width: 100%;
  height: var(--el-scroll-indicator-height);
  background: var(--color-slider-track);
  display: hidden;
}
#scroll-indicator-bar {
  height: var(--el-scroll-indicator-height);
  background: var(--color-text-ui-hover);
  width: 0%;
}

/* =========== SLIDESHOW =========== */
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: var(--color-system-background);
}

/* Slideshow-slide */
.slideshow-slide {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.slideshow-prev-button, .slideshow-next-button {
  cursor: url(/images/select-right.cur),auto;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-next-button {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev-button:hover, .slideshow-next-button:hover {
  background-color: rgba(0,0,0,0.2);
  color: var(--color-text-ui-hover);
  text-decoration: none;
}

/* The dot/bullet/indicator container */
.slideshow-dot-container {
    text-align: center;
    padding: 20px;
    background: var(--color-system-background);
}

/* The dots/bullets/indicators */
.slideshow-dot {
  cursor: url(/images/select-right.cur),auto;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.slideshow-dot-active, .slideshow-dot:hover {
  background-color: var(--color-text-ui-hover);
}

/* =========== PAGINATION =========== */
.pagination a {
  background-color: var(--color-ui-background);
  color: var(--color-text);
  cursor: url(/images/select-right.cur),auto;
  padding: 8px 16px;
  text-decoration: none;
  align-items: center;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: var(--color-text-ui-hover);
  color: var(--color-text);
}

.pagination a:hover:not(.active) {
  background-color: var(--color-contra);
}

/* =========== BULLIT-Color =========== */
.bullit-color{
  background-color: var(--color-system-background);
  list-style: none;
}
.bullit-color li::before {
  content: "\2022";
  color: var(--color-text-ui-hover);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

/* =========== TEXT-Input =========== */
/* ex. <input type="text" placeholder="A red placeholder text.."> */
::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}

/* =========== TEXT-Selection-Colors =========== */
::-moz-selection { /* Code for Firefox */
  color: var(--color-system-background);
  background: var(--color-text);
}

::selection {
  color: var(--color-system-background);
  background: var(--color-text);
}

/* =========== TEXT-Selection-Prevent =========== */
/* ex. <p class="prevent-select">This text cannot be selected.</p> */
.prevent-select {
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10 and IE 11 */
  user-select: none;          /* Standard syntax */
}

/* =========== BUTTON-hoover =========== */
/* ex. <button class="button-hoover">Hover Over Me</button> */
.button-hoover {
  background-color: #131313;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
.button-hoover:hover {
  opacity: 1
}

/* =========== SNACKBAR =========== */
/* ex. <button onclick="fSnackbar()">Show Snackbar</button> */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--color-text-ui-hover);
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 15;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* --------MOBILE DEVICES-------- */
/* --Samsung J3     2016 res: 1280 x  720 pixels (HD)  -- */
/* --Samsung A20e   2019 res: 1560 x  720 pixels (HD+) -- */
/* --Samsung A13    2022 res: 2408 x 1080 pixels (FHD+)-- */
/* --Samsung A52 5G 2021 res: 2400 x 1080 pixels (FHD+)-- */
@media screen and (max-width: 1080px) {
  /* =========== LINK =========== */
  /* =========== HEADER-Shrink =========== */
  /* =========== SCROLL-Smooth =========== */
  /* =========== SCROLLBAR-Customize =========== */
  /* =========== SCROLL-ToTop-Button =========== */
  /* =========== SCROLLBAR-Indicator =========== */
  /* =========== SLIDESHOW =========== */
  /* =========== PAGINATION =========== */
  /* =========== BULLIT-Color =========== */
  /* =========== TEXT-Input =========== */
  /* =========== TEXT-Selection-Colors =========== */
  /* =========== BUTTON-hoover =========== */
  /* =========== SNACKBAR =========== */
  .article {
    width: 88%;
  }
}

@media screen and (max-width: 360px) {
  /* =========== LINK =========== */
  /* =========== HEADER-Shrink =========== */
  /* =========== SCROLL-Smooth =========== */
  /* =========== SCROLLBAR-Customize =========== */
  body{
    font-size: 10px;
  }
  #content{
   width: 90vw;
   /*width: 80px;*/
   max-width: 82%;
   margin: 0px auto 0px auto;
   overflow-x: auto;
   padding: 0px 0px 0px 16px;
  }
  #article {
    /*width: 10vw;*/
    width: 80px;
    /*max-width: 50%;*/
    margin: 0px auto 0px auto;
    /*overflow-x: auto;*/
    /*padding: 16px 36px 32px 36px;*/
  }
  /* =========== SCROLL-ToTop-Button =========== */
  #scroll-ToTop-button {
    bottom: 4px;
    right: 4px;
  }
  /* =========== SCROLLBAR-Indicator =========== */
  /* =========== SLIDESHOW =========== */
  /* =========== PAGINATION =========== */
  /* =========== BULLIT-Color =========== */
  /* =========== TEXT-Input =========== */
  /* =========== TEXT-Selection-Colors =========== */
  /* =========== BUTTON-hoover =========== */
  /* =========== SNACKBAR =========== */
}