/*// Please change your favorite font-size!*/
/*@fontSize: 8rem;*/

/* =========== HEADER =========== */
/* =========== CHAPTER =========== */
/* =========== ICON SIDEBAR =========== */
/* =========== IFRAME =========== */
/* =========== FOOTER =========== */
/* =========== SCROLLBAR-Customize =========== */
:root {
    /* Font */
    --font-size: 18px;
    --font-size-logo: 48px;
    --font-size-logo-360: 22px;
    --font-size-logo-1080: 28px;
    --font-size-chapter-360: 18px;
    --font-size-chapter-1080: 20px;

    /* PosY */
    --header-top: 0px;
    --logo-top: 10px;
    --logo-top-360: 0px;
    --logo-top-1080: 0px;
    --chapter-top: 60px;
    --chapter-top-360: 36px;
    --chapter-top-1080: 34px;
    --iframe-top: 84px;
    --iframe-top-360: 61px;
    --iframe-top-1080: 61px;
    --menu-top: 87px;
    --menu-top-360: 64px;
    --menu-top-1080: 64px;
    --footer-bottom: 0px;
    --footer-credit-padding-top: 6px;
    /* height */
    --header-height: 60px;
    --header-height-360: 36px;
    --header-height-1080: 34px;
    --chapter-height: 24px;
    --chapter-height-360: 24px;
    --chapter-height-1080: 24px;
    --iframe-height: 838px;
    --iframe-height-360: 590px;
    --iframe-height-1080: 590px;
    --menu-height: 835px;
    --menu-height-360: 586px;
    --menu-height-1080: 190px;
    --footer-height: 24px;
    --scroll-width: 8px;
    /*--scroll-indicator-height: 2px;*/
    
    /* Radius */
    --border-radius: 16px;
    
    /* Colors */
    --color-design-purpose: #FF0000;
    --color-chroma-key-blue: #0033cc;     /*  blue-key: #0047bb ,websafe: #0033cc */
    --color-chroma-key-green: #009933;    /* green-key: #00b140 ,websafe: #009933 */    
    --color-ui-background: #1C1C1C;
    --color-system-background: #111111;
    --color-text: #fbf0ec;  
    --color-text-ui: #DBE1D5;
    --color-text-ui-hover: rgba(0, 128, 0, 0.5);
    --color-text-shadow1: #000000;
    --color-text-shadow2: #38fa08;
    --color-text-shadow3: #001400;
    --color-slider-handle: #686868;
    --color-slider-handle-hover: #7B7B7B;
    --color-slider-track: #343434;
    --color-logo: #fbf0ec;
    --color-credit: #c58f51;
    --color-box-shadow: #01009a;    /*#6e8b68*/
    --color-border: #343434;
    --color-mouse-over: #DAA520;
    --color-design-seperator:rgba(255, 255, 255, 0.12);
}
html {  
}
body {
    
    background-color: var(--color-system-background);
    color: var(--color-text-ui);
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    margin: 0px;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    cursor: url(/images/select-right.cur),auto;
    overflow-y: hidden;           /* Hide vertical scrollbar */
    /*overflow-x: hidden;         /* Hide horizontal scrollbar */
    transition: background-color .5s;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
p {
  color: #dce920;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
#main {
  transition: margin-left .5s;
  padding: 16px;  
}
/* =========== HEADER =========== */
/*header                          */
/*header-logo                     */
/*header-logo-li                  */
.header {
  /*border-bottom: 1px solid var(--color-border);*/
  background-color: var(--color-ui-background);
  position: fixed;
  left: 0px;
  top: var(--header-top);
  height: var(--header-height);
  width: 100%;
  z-index: 4;
  padding: 0px 0px 0px 0px;
  /*cursor: url(/images/select-right.cur),auto;*/
  /*box-shadow: 10px 4px 20px var(--color-box-shadow);;*/
  /*visibility: hidden;*/
  /*border: 1px dotted var(--color-design-purpose);*/
}
.logo {    
  position: fixed;
  color: var(--color-logo);
  /*text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 65px rgb(56, 250, 8), 0 0 65px rgb(0, 20, 0);*/
  text-shadow: 1px 1px 2px rgb(109, 211, 42), 0 0 45px rgb(1, 54, 1), 0 0 65px rgba(133, 252, 23, 0.349);
  top: var(--logo-top);
  left: 50%;
  padding: 0px 0px 0px 0px;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
  -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255,255,255,0.3)));
}
/*.logo.hidden {
  border-bottom: 1px solid var(--color-border);
}*/
.logo li {
  display: inline-block;
  float: left;
  font-size: var(--font-size-logo);
  /*font-weight: 100%;*/
  color: var(--color-logo);    
  opacity: 1;
  transition: all 0.7s ease-in-out;
  max-width: 2em;
}
.logo.hidden li.spaced {
  padding-left: 0;
}
.logo li.spaced {
  padding-left: 0.5em;
}
.logo.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
/* =========== CHAPTER =========== */
/*chapter                         */
/*chapter-                        */
.chapter {
  background-color: var(--color-ui-background);
  color: var(--color-text-ui);
  position: fixed;
  /*overflow: hidden;*/
  /*cursor: default;*/
  left: 0px;
  width: 100%;
  text-align: center;
  top: var(--chapter-top);  /* top:64 x height: 26 */
  height: var(--chapter-height);
  z-index: 3;
  font-size: var(--font-size-chapter-360);
  /*perspective: 400px;*/
  /*background-color: transparent;*/ 
  /*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));*/
  border-bottom: 1px dotted var(--color-design-seperator);
}
/* =========== ICON SIDEBAR =========== */
nav.main-menu:hover,
nav.main-menu.expanded {
  width: 240px; /*Total width of menu*/
  overflow-y: auto;
  overflow-x: hidden;
}
nav.main-menu {
  background: var(--color-ui-background);
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  position: absolute;
  top: var(--menu-top);   
  height: var(--menu-height);
  left: 0;
  width: 44px;  /*Width of iconmenu alone*/
  overflow-y: auto;
  overflow-x: hidden;
  /*-webkit-transition: width .05s linear;*/
  transition: width .05s linear;
  /*-webkit-transform: translateZ(0) scale(1, 1);*/
  transform: translateZ(0) scale(1, 1);
  z-index: 10;
}
nav.main-menu>ul {
  margin: 0px 0px;
}
nav.main-menu li {
  position: relative;
  display: block;
  width: 150px;   /*Width of ?*/
}
nav.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  text-decoration: none;
  /*-webkit-transform: translateZ(0) scale(1, 1);*/
  transform: translateZ(0) scale(1, 1);
  /*-webkit-transition: all .1s linear;*/
  transition: all .1s linear;
}
nav.main-menu .nav-header {
  position: relative;
  display: table-cell;
  font-size: 20px;
  padding: 0px 8px;
  vertical-align: middle;
  width: 100px; /*Width of header*/
  color: var(--color-text-ui-hover);
}
nav.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 32px;  /*Width & height of icon*/
  height: 32px;
  padding: 6px;
  vertical-align: middle;
  
}
nav.main-menu .nav-text {
  position: relative;
  display: table-cell;
  padding: 0px 12px;
  vertical-align: middle;
  width: 135px;   /*Width of selector*/
  
}
nav.main-menu>ul.menu-footer {
  position: sticky;
  z-index: 11;
  background: var(--color-ui-background);
  /*display: table-footer-group;*/
  left: 0;
  bottom: 0px;
  border-top: 2px solid var(--color-border);
}
nav.a:hover,
nav.a:focus {
  text-decoration: none;
}
nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav ul,
nav li {
  outline: 0px;
  margin: 0px;
  padding: 0px;
}
nav li.has-subnav ul {
  display: none;
  
}

nav li.has-subnav:hover ul {
  display: block;

}
nav.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  /*color: #fff;*/
  background-color: var(--color-text-ui-hover);
}
nav.main-menu>ul>li.has-subnav>ul>li {
  margin-left: 52px;  /*left of submenu*/
  padding: 4px 0px;
}
/* =========== IFRAME =========== */
/*iframe                          */
.iframe {
  background-color: var(--chroma-key-blue);
  position: fixed;
  left: 0px;
  top: var(--iframe-top);
  height: var(--iframe-height);
  /*bottom: 16px;*/
  width: 100%;
  border:none;    
  z-index: 0s;
  /*border: 1px dotted var(--color-design-purpose);*/
  /*box-shadow: 1px 1px 8px var(--color-box-shadow);*/
  /*visibility: hidden;*/
}
/* =========== FOOTER =========== */
/*footer                          */
/*footer-credit                   */
.footer {
  background-color: var(--color-ui-background);
  position: fixed;
  left: 0;
  bottom: var(--footer-bottom);
  width: 100%;
  height: var(--footer-height);
  z-index: 4;
  cursor: none;
  border-top: 1px solid var(--color-border);
  /*visibility: hidden;*/
  box-shadow: 10px 0px 20px var(--color-text-ui-hover);
}
.footer-credit {
  color: var(--color-text-ui-hover);
  padding-top: var(--footer-credit-padding-top);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
/* =========== SCROLLBAR-Customize =========== */
/* SCROLLBAR - width */
::-webkit-scrollbar {
  width: var(--scroll-width);
}
/* SCROLLBAR - button */
/*::-webkit-scrollbar-button {
  background: #FF00FF;
  height: 22px;
}*/

/* SCROLLBAR - track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* SCROLLBAR - track - piece */
::-webkit-scrollbar-track-piece {
  background: var(--color-slider-track);
}
/* SCROLLBAR - handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-slider-handle);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* SCROLLBAR - handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-slider-handle-hover); 
}
/* SCROLLBAR - thumb */
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* SCROLLBAR - corner */
/*
::-webkit-scrollbar-corner {
  background: #FF0000;
}*/
/*  END  */

/* --------MOBILE DEVICES-------- */

/* --Samsung J3     2016 res: 1280 x  720 pixels (HD)  -- */
/* --Samsung A20e   2019 res: 1560 x  720 pixels (HD+) -- */
/* --Samsung A13    2022 res: 2408 x 1080 pixels (FHD+)-- */
/* --Samsung A52 5G 2021 res: 2400 x 1080 pixels (FHD+)-- */

@media screen and (max-width: 1080px) {
  body {
    padding: 0px;
    margin: 0;
    background-color: var(--color-system-background) !important;
  }
  /* =========== HEADER =========== */
  .header {
    height: var(--header-height-1080);
  }
  .logo {
    top: var(--logo-top-1080);
  }
  .logo li {
    font-size: var(--font-size-logo-1080);
  }
  /* =========== CHAPTER =========== */
  .chapter {
    top: var(--chapter-top-1080);
    height: var(--chapter-height-1080);
    font-size: var(--font-size-chapter-1080);
  }  
  /* =========== ICON SIDEBAR =========== */
  nav.main-menu:hover,
  nav.main-menu.expanded {
    width: 190px;  
  }
  nav.main-menu {
    /*background: rgb(255,0,0);*/
    top: var(--menu-top-1080);
    height: var(--menu-height-1080);
  } 
  /* =========== IFRAME =========== */
  .iframe {
    top: var(--iframe-top-1080);
    height: var(--iframe-height-1080);
  }
/* =========== FOOTER =========== */
/* =========== SCROLLBAR-Customize =========== */
}

@media screen and (max-width: 360px) {
  body {
    padding: 0px;
    margin: 0;
    background-color: var(--color-system-background) !important;
  }
  /* =========== HEADER =========== */
  .header {
    height: var(--header-height-360);
  }
  .logo {
    top: var(--logo-top-360);
  }
  .logo li {
    font-size: var(--font-size-logo-360);
  }
  /* =========== CHAPTER =========== */
  .chapter {
    top: var(--chapter-top-360);
    height: var(--chapter-height-360);
    font-size: var(--font-size-chapter-360);
  }  
  /* =========== ICON SIDEBAR =========== */
  nav.main-menu:hover,
  nav.main-menu.expanded {
    width: 190px;  
  }
  nav.main-menu {
    /*background: rgb(255,0,0);*/
    top: var(--menu-top-360);
    height: var(--menu-height-360);
  } 
  /* =========== IFRAME =========== */
  .iframe {
    top: var(--iframe-top-360);
    height: var(--iframe-height-360);
  }
  /* =========== FOOTER =========== */
  .footer-credit {
    font-size: 8px;
  }
  /* =========== SCROLLBAR-Customize =========== */
}