  /* =========== LINK =========== */
  /* =========== HEADER-Shrink =========== */
  /* =========== SCROLL-Smooth =========== */
  /* =========== SCROLLBAR-Customize =========== */
  /* =========== SCROLL-ToTop-Button =========== */
  /* =========== SCROLLBAR-Indicator =========== */
  /* =========== SLIDESHOW =========== */
  /* =========== PAGINATION =========== */
  /* =========== BULLIT-Color =========== */
  /* =========== TEXT-Input =========== */
  /* =========== TEXT-Selection-Colors =========== */
  /* =========== TEXT-Selection-Prevent =========== */
  /* =========== BUTTON-hoover =========== */
  /* =========== SNACKBAR =========== */
:root {
     /* Font */
     --font-size: 18px;
     --font-size-360: 14px;
     /* PosY */
     --header-top: 0px;
     /* height */
     /*--header-height: 60px;*/
     --scroll-width: 8px;
     --scroll-indicator-height: 2px;
     
     /* Radius */
     --border-radius-small: 8px;
     --border-radius-midle: 10px;
     --border-radius-big: 16px;

    /* Colors */
    /*  blue-key: #0047bb ,websafe: #0033cc */
    /* green-key: #00b140 ,websafe: #009933 */ 
    --color-ui-background: #1C1C1C;
    --color-ui-border: #343434; /*#343434;*/
    --color-ui-light: #01009a;    /*#6e8b68*/
    --color-ui-1: rgba(0, 128, 0, 0.1);
    --color-ui-2: rgba(0, 128, 0, 0.5);
    --color-ui-3: rgba(0, 128, 0, 0.05);
    --color-ui-4: red;        
    --color-text-1: #DBE1D5;   /*#DBE1D5;*/
    --color-text-2: red;
    --color-text-3: rgba(0, 100, 0, 0.8);
    --color-text-hoover: rgba(0, 128, 0, 0.8);
    --color-shadow-1: rgb(109, 211, 42);  /* rgba(0,0,0,0.5)*/
    --color-shadow-2: rgb(1, 54, 1);
    --color-shadow-3: rgba(133, 252, 23, 0.349); /*#001400;*/
 }
html {
  scroll-behavior: smooth;
  overflow: auto;
  cursor: url(/images/select-right.cur),auto;
}

body {
  position: absolute;
  /*background-color: rgb(255,255,255);*/
  background-color: black;      /*var(--color-ui-background);*/
  color: var(--color-text-1);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  overflow-y: show;           /* Hide vertical scrollbar */
  overflow-x: hidden;         /* Hide horizontal scrollbar */
  /*transition: background-color .5s;*/
  cursor: default;
  margin: 0px 0px 0px 0px;
  
}
/* =========== HEADER-Shrink =========== */
#header {
  background-color: var(--color-ui-background);
  padding: 0px 0px;
  color: var(--color-text-1);
  text-align: center;
  font-size: 26px; 
  font-weight: bold;
  position: fixed;
  top: 0px;
  left: var(--header-top);
  width: 100%;
  transition: 0.3s;
  cursor: default;
}
#content {
  width: 100vw;
  max-width: 99.6%;
  padding: 0px 0px 0px 0px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 60px;
  overflow-x: auto;
  background-color: var(--color-ui-background);
  /*border: 1px solid red;*/
}

p {
  color: var(--color-text-1);
}
table {
  border: 1px solid var(--color-ui-border);
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto; 
  margin-right: auto;
}
th {
  text-align: center;
  background-color: var(--color-text-hoover);
}
td {
  text-align: left;
}
td#OnOff {
  color: rgb(255,0,0, 0.7);
}
tr:nth-child(even) {
  background-color: rgba(0, 128, 0, 0.05);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* =========== LINK =========== */
/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
  cursor: url(/images/select-right.cur),auto;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
  cursor: url(/images/select-right.cur),auto;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
  cursor: url(/images/select-right.cur),auto;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: underline;
  cursor: url(/images/select-right.cur),auto;
}
/* =========== SCROLL-Smooth =========== */
#scroll-smooth-to-1 {
  background-color: var(--color-ui-background);
}
#scroll-smooth-to-2 {
  height: 600px;
  background-color: var(--color-ui-background);
  width: 100%;
}

/* =========== SCROLLBAR-Customize =========== */
/* SCROLLBAR - width */
::-webkit-scrollbar {
  width: var(--scroll-width);
}
/* SCROLLBAR - button */
/*::-webkit-scrollbar-button {
  background: #FF00FF;
  height: 22px;
}*/

/* SCROLLBAR - track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--color-shadow-1);
  -webkit-border-radius: var(--border-radius-small);
  border-radius: var(--border-radius-small);
}
/* SCROLLBAR - track - piece */
::-webkit-scrollbar-track-piece {
  background: var(--color-ui-3);
}
/* SCROLLBAR - handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: var(--border-radius-midle);
    border-radius: var(--border-radius-midle);
    background: var(--color-ui-1);
    -webkit-box-shadow: inset 0 0 6px var(--color-shadow-1);
}
/* SCROLLBAR - handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-ui-2); 
}
/* SCROLLBAR - thumb */
::-webkit-scrollbar-thumb:window-inactive {
	background: var(--color-ui-4); 
}
/* SCROLLBAR - corner */
/*
::-webkit-scrollbar-corner {
  background: #FF0000;
}*/

/* =========== SCROLL-ToTop-Button =========== */
#scroll-ToTop-button {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 6px;
  z-index: 99;
  font-size: 36px;
  border: 1px;
  border-radius: 360px;
  outline: none;
  background-color: var(--color-ui-background);
  color: var(--color-text-hoover);
  cursor: url(/images/select-right.cur),auto;
  padding: 0px 18px;
}

#scroll-ToTop-button:hover {
  background-color: var(--color-text-hoover);
  color: var(--color-text-1);
}

/* =========== SCROLLBAR-Indicator =========== */
#scroll-indicator-container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: var(--scroll-indicator-height);
  background: var(--color-ui-3);
  display: hidden;
}
#scroll-indicator-bar {
  height: var(--scroll-indicator-height);
  background: var(--color-text-hoover);
  width: 0%;
}

/* =========== ACCORDION =========== */
.accordion {
  display: block;
  background-color: var(--color-text-3);
  color: var(--color-ui-text);
  cursor: pointer;
  width: 280px;
  border: none;
  text-align: left;
  margin: auto;
  padding: 10px;
  outline: none;
  font-size: var(--font-size);
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: var(--color-text-hoover);
}
.panel {
  display: block;
  padding: 0 18px;
  background-color: #1f1f1f;
  color: var(--color-ui-text);
  width:244px;
  max-height: 0;
  margin: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* =========== SLIDESHOW =========== */
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: var(--color-ui-background);
}

/* Slideshow-slide */
.slideshow-slide {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.slideshow-prev-button, .slideshow-next-button {
  cursor: url(/images/select-right.cur),auto;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-next-button {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev-button:hover, .slideshow-next-button:hover {
  background-color: rgba(0,0,0,0.2);
  color: var(--color-text-hoover);
  text-decoration: none;
}

/* The dot/bullet/indicator container */
.slideshow-dot-container {
    text-align: center;
    padding: 20px;
    background: var(--color-ui-background);
}

/* The dots/bullets/indicators */
.slideshow-dot {
  cursor: url(/images/select-right.cur),auto;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.slideshow-dot-active, .slideshow-dot:hover {
  background-color: var(--color-text-hoover);
}

/* =========== PAGINATION =========== */
.pagination a {
  background-color: var(--color-ui-background);
  color: var(--color-text-1);
  cursor: url(/images/select-right.cur),auto;
  padding: 8px 16px;
  text-decoration: none;
  align-items: center;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: var(--color-text-hoover);
  color: var(--color-text-1);
}

.pagination a:hover:not(.active) {
  background-color: var(--color-contra);
}

/* =========== BULLIT-Color =========== */
.bullit-color{
  background-color: var(--color-ui-background);
  list-style: none;
}
.bullit-color li::before {
  content: "\2022";
  color: var(--color-text-hoover);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

/* =========== TEXT-Input =========== */
/* ex. <input type="text" placeholder="A red placeholder text.."> */
::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}

/* =========== TEXT-Selection-Colors =========== */
::-moz-selection { /* Code for Firefox */
  color: var(--color-ui-background);
  background: var(--color-text-1);
}

::selection {
  color: var(--color-ui-background);
  background: var(--color-text-1);
}

/* =========== TEXT-Selection-Prevent =========== */
/* ex. <p class="prevent-select">This text cannot be selected.</p> */
.prevent-select {
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10 and IE 11 */
  user-select: none;          /* Standard syntax */
}

/* =========== BUTTON-hoover =========== */
/* ex. <button class="button-hoover">Hover Over Me</button> */
.button-hoover {
  background-color: #131313;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
.button-hoover:hover {
  opacity: 1
}

/* =========== SNACKBAR =========== */
/* ex. <button onclick="fSnackbar()">Show Snackbar</button> */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--color-text-hoover);
  color: #FFF;
  text-align: center;
  border-radius: var(--border-radius-big);
  padding: 16px;
  position: fixed;
  z-index: 15;
  left: 50%;
  bottom: 436px0px;
  font-size: var(--font-size);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 36px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 36px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 36px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 36px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* --------MOBILE DEVICES-------- */
/* --Samsung J3     2016 res: 1280 x  720 pixels (HD)  -- */
/* --Samsung A20e   2019 res: 1560 x  720 pixels (HD+) -- */
/* --Samsung A13    2022 res: 2408 x 1080 pixels (FHD+)-- */
/* --Samsung A52 5G 2021 res: 2400 x 1080 pixels (FHD+)-- */
@media screen and (max-width: 1080px) {
  /* =========== LINK =========== */
  /* =========== HEADER-Shrink =========== */
  /* =========== SCROLL-Smooth =========== */
  /* =========== SCROLLBAR-Customize =========== */
  /* =========== SCROLL-ToTop-Button =========== */
  /* =========== SCROLLBAR-Indicator =========== */
  /* =========== SLIDESHOW =========== */
  /* =========== PAGINATION =========== */
  /* =========== BULLIT-Color =========== */
  /* =========== TEXT-Input =========== */
  /* =========== TEXT-Selection-Colors =========== */
  /* =========== BUTTON-hoover =========== */
  /* =========== SNACKBAR =========== */
  .article {
    width: 88%;
  }
}

@media screen and (max-width: 360px) {
  /* =========== LINK =========== */
  /* =========== HEADER-Shrink =========== */
  /* =========== SCROLL-Smooth =========== */
  /* =========== SCROLLBAR-Customize =========== */
  body{
    font-size: var(--font-size-360);
  }
  #content{
   width: 78vw;
   /*width: 80px;*/
   max-width: 100%;
   margin: 40px auto 0px 36px;
   overflow-x: auto;
   padding: 0px 0px 0px 16px;
  }
  /* =========== SCROLL-ToTop-Button =========== */
  #scroll-ToTop-button {
    bottom: 8px;
    right: 8px;
  }
  /* =========== SCROLLBAR-Indicator =========== */
  /* =========== SLIDESHOW =========== */
  /* =========== PAGINATION =========== */
  /* =========== BULLIT-Color =========== */
  /* =========== TEXT-Input =========== */
  /* =========== TEXT-Selection-Colors =========== */
  /* =========== BUTTON-hoover =========== */
  /* =========== SNACKBAR =========== */
}